.back{
	border: 0!important;
	background-color: transparent!important;
	width: 12%;;
}

/*#imgdiv{
	background: url('https://wallpapercave.com/wp/wp9571412.jpg');
	background-attachment: fixed!important;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover!important;
}*/

.btn-login-account{
	background-color: rgb(255, 255, 255); 
	display: inline-flex; 
	align-items: center; 
	color: rgba(0, 0, 0, 1)!important; 
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 
	padding: 0px; border-radius: 2px; 
	border: 1px solid transparent; 
	font-size: 14px; 
	font-weight: 500; 
	font-family: Roboto, sans-serif; opacity: 0.6;
}

.btn-login-account div{
	margin-right: 10px; 
	background: rgb(255, 255, 255); 
	padding: 10px; 
	border-radius: 2px;
}

.btn-login-account span{
	padding: 10px 10px 10px 0px; 
	font-weight: 500;
}

.form-section{
	display: none!important;
	transition: transform .3s ease-in;
}

.form-section-active{
	display: block!important;
	animation: transition .5s ease-in;
}

@keyframes transition{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.form-control{
    margin-block-end: 5%;
}

.anchor{
	border: 0;
    background-color: transparent;
    margin: 5% 0%;
    color: #00008f;
    transition: transform .2s ease-in;
}

.anchor:hover{
	color: #0000ff;
	transform: scale(1.1);
}

.danger-logo{
	width: 5%!important;
}

.danger-div{
	text-indent: 10px!important;
}

.optionLogin{
	display: grid;
}

.optionLogin button{
	margin-block-end: 2%;
}