.loading{
	opacity: 1;
	animation: ease-in fade-in .5s;
}

@keyframes fade-in{
	0%{transform: translateY(-20px);opacity: 0};
	100%{transform: translateY(0px);opacity: 1};
}

.scrollcomponent{
	height: 100vh;
	overflow-y: scroll;
}
/* width */
.scrollcomponent::-webkit-scrollbar {
  	width: 5px;
}

/* Track */
.scrollcomponent::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
.scrollcomponent::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollcomponent::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.text-occupation{
	position: absolute;
}

.skel-img{
	min-height: 119.98px;
}

.skeleton{
	background-image: linear-gradient(45deg, rgba(255,255,255,.7), rgba(0,0,0,.4));
	animation: skeleton-color 2s infinite;
	border-radius: 5px;
}

@keyframes skeleton-color{
	to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}
